<h1>Your Right to Work Check</h1>
<p>So you can legally work at <b>Aperture Science, Inc.</b>, we need to check your <a href="https://www.gov.uk/check-job-applicant-right-to-work" target="_blank">right to work</a>.</p>
<p>You can easily verify your identity using Santander using the button below.</p>

<div *ngIf="!_isLoading && (_errors || _traceId)">
    <h3>Something went wrong</h3>
    <p class="error" *ngFor="let _error of _errors">{{ _error }}</p>
    <p class="trace-id" *ngIf="_traceId">{{ _traceId }}</p>
    <p>Please try again, and contact support if this persists</p>
</div>

<button *ngIf="!_isLoading" (click)="verifyWithSantander()">
    <img src="assets/sflame.svg" alt="flame">
    <p>Verify with Santander</p>
</button>

<div *ngIf="_isLoading" class="spinner"></div>