<div *ngIf="_isLoading">
    <h1 *ngIf="_isLoading">Checking your information</h1>
    <div *ngIf="_isLoading" class="spinner"></div>
</div>

<div *ngIf="!_isLoading && !_data">
    <h1>Failed to verify</h1>
    <p *ngIf="!_code">Missing code</p>
    <p class="error" *ngFor="let _error of _errors">{{ _error }}</p>
    <p class="trace-id" *ngIf="_traceId">{{ _traceId }}</p>
    <p class="tryagain"><a href="step1">Try again</a></p>
</div>

<h1 *ngIf="!_isLoading && _data">Successfully verified</h1>
<div *ngIf="!_isLoading && _data">
    <p>We'll tell <b>Aperture Science, Inc.</b> that you're eligble to work in<br/> the UK<span *ngIf="_data.email" >, and send you a confirmation at <b>{{ _data.email }}</b></span>.</p>
    <h2>Your details</h2>
    <dl>
        <dt>Name</dt>
        <dd>{{ _data.given_name }} {{ _data.family_name }}</dd>
        
        <dt>Nationality</dt>
        <dd>{{ _data.nationality }}</dd>

        <dt *ngIf="_data.passport_id">Passport ID</dt>
        <dd *ngIf="_data.passport_id">{{ _data.passport_id }}</dd>

        <dt *ngIf="_data.national_card_id">National Card ID</dt>
        <dd *ngIf="_data.national_card_id">{{ _data.national_card_id }}</dd>
    </dl>
</div>