header {
    padding-top: 100px;
    padding-bottom: 5px;
    background-color: white;
    color: white;
    text-align: center;

    img.logo {
        padding: 15px;
        width: 250px;
    }
}

.hr {
    width: 30%;
    border-top: 2px solid #ddd;
    margin: 0.5em auto;
}

body {
    text-align: center;
}

footer {
    padding-top: 10px;
    padding-bottom: 20px;

    ul {
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;

            a {
                color: #777;
                transition: 0.5s all ease;
            }

            a:hover {
                color: #333;
            }
        }
    }
}